export(mmexport)
export(mmextract)
export(mmextract_network)
export(mmload)
export(mmplot)
export(mmplot_locator)
export(mmplot_network)
export(mmplot_pairs)
export(mmplot_selection)
export(mmref_phylum)
export(mmref_species)
export(mmstats)
export(mmstats_duplicates)
import(Biostrings)
import(alphahull)
import(ggplot2)
import(grid)
import(reshape)
