export(clean_tax)
export(eduplicates)
export(ephylum)
export(especies)
export(extract)
export(extract_linked)
export(extract_nodes)
export(ggplot_locator)
export(import_network)
export(import_rrna)
export(merge_network)
export(sstats)
import(alphahull)
import(ggplot2)
import(grid)
import(igraph)
import(reshape)
